.headingfor-Content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.headingfor-Content h1 {
    font-size: 260%;
    font-family: "Saira";
    color: white;
    font-weight: 300;
    
}

.headingfor-Content h2 {
    font-size: 310%;
    font-family: "Saira";
    color: white;
    font-weight: 300;
    margin-top: -1%;
}

.headingfor-Content h3 {
    font-size: 320%;
    font-family: "Saira";
    color: white;
    font-weight: 300;
    margin-top: -1.2%;
}
.info-forContentPage {
    font-size: 150%;
    font-weight: 200;
    width: 80%;
    /* font-family: "Saira"; */
    color: white;
    
}

@media screen and (max-width:600px) {
    .headingfor-Content h1 {
        font-size: 180%;
        font-family: "Saira";
        color: white;
        font-weight: 300;
    }
    .headingfor-Content h2 {
        font-size: 190%;
        font-family: "Saira";
        color: white;
        font-weight: 300;
    }
    
    .headingfor-Content h3 {
        font-size: 200%;
        font-family: "Saira";
        color: white;
        font-weight: 300;
    }
    .info-forContentPage {
        font-size: 105%;
        font-weight: 200;
        width: 100%;
        /* font-family: "Saira"; */
        color: white;
        
    }
    
}