.contentImg {
    width: 70%;
    margin-bottom: 2%;
    height: 50vh;
}

@media screen and (max-width:600px) {
    .contentImg {
        width: 100%;
        height: 27vh;
        margin-bottom: 5%;
        /* height: 35vh; */
    }

    /* *{
        background-color: aqua;
    } */
    
}